<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {# UIKit CSS #}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/css/uikit.min.css" />

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>


{% block navbar %}
    <nav class="uk-navbar-container uk-light"
         style="background: rgba(15, 15, 27, 0.95); border-bottom: 1px solid rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">

        <div class="uk-container uk-container-expand">
            <div class="uk-navbar" uk-navbar>

                <!-- IZQUIERDA -->
                <div class="uk-navbar-left">

                    <a class="uk-navbar-item uk-logo uk-margin-right" href="/">
                        <img src="{{ asset('images/LogoApodlySolo.png') }}" alt="Logo" width="40" class="uk-margin-small-right">
                        <span class="uk-text-bold uk-text-uppercase" style="letter-spacing: 2px;">Apodly</span>
                    </a>

                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#">
                                Reviews <span uk-navbar-parent-icon></span>
                            </a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-nav-header uk-light">Fotos</li>
                                    <li><a href="/foto/astral">Galería</a></li>
                                    <li><a href="/foto/diaria">Misión de Hoy</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="/estadisticas">Estadísticas</a></li>
                                </ul>
                            </div>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin">Control</a></li>
                        {% endif %}
                        <li><a href="/categorias">Categoria</a></li>
                    </ul>

                </div>

                <!-- DERECHA -->
                <div class="uk-navbar-right">

                    {% if app.user %}
                        <div class="uk-navbar-item">
                            <button class="uk-button uk-button-text uk-text-capitalize" type="button">
                                {{ app.user.userIdentifier }}
                                <span uk-icon="chevron-down"></span>
                            </button>

                            <div uk-dropdown="mode: click; pos: bottom-right">
                                <ul class="uk-nav uk-dropdown-nav">
                                    <li><a href="/logout" class="uk-text-danger">Cerrar Sesión</a></li>
                                    <li><a href="/mis-rankings">Mis rankings</a></li>
                                </ul>
                            </div>
                        </div>
                    {% else %}
                        <div class="uk-navbar-item">
                            <a href="{{ path('app_login') }}"
                               class="uk-button uk-button-primary uk-border-rounded">
                                Entrar
                            </a>
                        </div>
                    {% endif %}

                </div>

            </div>
        </div>
    </nav>

{% endblock %}


{% block body %}



{% endblock %}

{# UIKit JS #}
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.13/dist/js/uikit-icons.min.js"></script>
</body>
</html>
